<footer class="footer">
  <small>
    PingPong Rails App by Michael Liu and Matthew Jiang
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/troopswap/ping-pong-leaderboard">Github Documentation</a></li>
    </ul>
  </nav>
</footer>